<!DOCTYPE html>
<html>
    <head>
        <title>Connexion</title>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        
        <script type="text/javascript" src="/public/js/connexion.js"></script>
    </head>
    <body>
        <h1><%=titre%></h1>
        <div class="form-container">
            <form action="/livraison" method="post" id="form-livreur">
            
                <div class="input-data">
                    <label for="nom">Nom</label>
                    <input type="text" id="nom" name="nom" value=<%=nom%> >
                </div>
                        
                <div class="input-data">
                    <label for="prenom">Prénom</label>
                    <input type="text" id="prenom" name="prenom" value=<%=prenom%> >
                </div>

                <div class="input-data">
                    <label for="mdp">Mot de passe</label>
                    <input type="password" name="mdp" id="mdp" value=<%=mdp%> >
                </div>
                    
                <input type="submit" id="submit" value="Se connecter">
              
        </form>
    </div>
    </body>
</html>
