<form action="/checkout" method="post" id="form-cart">
    <div id="panier-content">
        <div id="panier">
            <p>Panier</p>
        </div>
        <div id="montant-panier">
            <span id="montant-etiquette">Montant:</span> 
            <span id="montant-prix">0 €</span>
        </div>
        <input type="submit" class="checkout" value="Commander">
    </div>
    </form>
    
    
    <script>
    
    </script>